<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Spring logging level to DEBUG to see what's happening during context initialization -->
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.activity.squad2" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>